<p>
    <strong>Test Run Timestamp:</strong>
    <%= @test_run.timestamp %>
</p>
   
<p>
    <strong>Test Run Status:</strong>
    <%= @test_run.status %>
</p>

<p>
    <strong>Test Id:</strong>
    <%= link_to @test_run.test_id, test_path(@test_run.test_id) %>
</p>


<%= link_to "Back", :back %>