<p>
    <strong>Timestamp:</strong>
    <%= @automationRun.timestamp %>
</p>
   
<p>
    <strong>Operating System:</strong>
    <%= @automationRun.os %>
</p>

<p>
    <strong>Build Number</strong>
    <%= @automationRun.build_number %>
</p>

<%= link_to 'Back', automation_runs_path %>