<h1>Listing Tests</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Owner</th>
  </tr>
 
  <% @tests.each do |test| %>
    <tr>
      <td><%= test.name %></td>
      <td><%= test.owner %></td>
      <td><%= link_to 'Show', test_run_path(test) %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'Dashboard', controller: 'dashboard' %>
</p>